
<p  class="h1">Eventos disponíveis</p>
<br/>

<div class="card-container" *ngFor="let evento of eventos; let i = index" > 
<nz-card style="width: 200px;" [nzCover]="coverTemplate" [nzActions]="[actionGo, actionGuests]">
  <nz-card-meta
    nzTitle="{{evento.title}}"
    nzDescription="{{evento.desc}}"
  ></nz-card-meta>
</nz-card>
<ng-template #coverTemplate>
  <img alt="Imagem" [src]="evento.picture" />
</ng-template>
<ng-template #actionGo>
    <button *ngIf="!contains(evento.id)" nz-button nzType="primary" (click)="go(evento)" nzBlock>Ir ao evento</button>
    <button *ngIf="contains(evento.id)" nz-button nzType="primary" (click)="letGo(evento)" nzBlock>Deixar de ir</button>
  </ng-template>
<ng-template #actionGuests>
    <i nz-icon nzType="user" nzTheme="outline"></i> {{evento.guests?.length ? evento.guests?.length : 0}}
  </ng-template>
</div>