<nav class="navbar navbar-dark bg-dark mb-5">
  <a class="navbar-brand" href="/">Simple Pass</a>
  <div class="navbar-expand mr-auto">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" [routerLink]="['/home']"  href="#">Home</a>
      <!-- <a class="nav-item nav-link" *ngIf="user.promoter" [routerLink]="['/camera']" href="#">Camera</a> -->
      <a class="nav-item nav-link" *ngIf="user.promoter" [routerLink]="['/evento-list']" href="#">Eventos</a>
      <a class="nav-item nav-link" *ngIf="user.promoter" [routerLink]="['/user-list']" href="#">Usuários</a>
      <a class="nav-item nav-link" *ngIf="!user.promoter" [routerLink]="['/user-form/', user.id]" href="#">Usuário</a>
      <a class="nav-item nav-link" *ngIf="user.promoter" [routerLink]="['/evento-recog']" href="#">Rodar evento</a>
    </div>
  </div>
  <div class="navbar-expand ml-auto navbar-nav">
    <div class="navbar-nav">
      <a class="nav-item nav-link not-active" style="float: right; " href="javascript:void(0)" >{{ user.name }}</a>
      <a class="nav-item nav-link" style="float: right" (click)="logout()" href="#">Sair</a>
    </div>
  </div>
</nav>

