<div style="height: 20px;">

</div>


<div style="margin-bottom: 10px">
  <button class="btn btn-primary btn-md" (click)="createNew()">Novo</button>
</div>
<nz-table #basicTable [nzData]="events">
  <thead>
    <tr>
      <th>Título</th>
      <th>Descrição</th>
      <th>Descrição completa</th>
      <th>Preço</th>
      <th>Local</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of basicTable.data">
      <td>{{data.title}}</td>
      <td>{{data.desc}}</td>
      <td>{{data.fullDesc}}</td>
      <td>{{data.ticketValue}}</td>
      <td>{{data.location}}</td>
      <td>
        <a href="#" >Editar</a>
        <nz-divider nzType="vertical"></nz-divider>
        <a (click)="delete(data)" >Deletar</a>
      </td>
    </tr>
  </tbody>
</nz-table>